<table class="container table table-dark table-hover mr-top">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr *ngFor="let user of $users |async; trackBy:trackByFn ">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
